@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color:#00D9FF;
    --terceary-color: #00FFF7;
    --quaternary-color:#ebeff1;
    --font-family: 'Montserrat', sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

body {
    color: var(--quaternary-color);
    font-family: var(--font-family);
    background-image: url(/assets/background.jpeg);
    background-size: cover; /* Cobrir toda a área de fundo */
    background-position: center; /* Centralizar a imagem de fundo */    
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
    padding: 20px 30px 0px 30px; 
}
.card {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.562); 
    border: 2px solid #ffffff18; 
    border-radius: 15px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    padding: 30px;  
    margin: 20px auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}
.rosto {
    width: 200px;
    border-radius: 50%; 
    border: 2px solid var(--terceary-color);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.rosto:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button {
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--terceary-color);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

h4 {
    font-weight: 400;
    color: var(--quaternary-color);
    margin-bottom: 10px;
}



/* Media Queries para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduzir padding */
        gap: 10px; /* Ajustar espaçamento */
    }

    .rosto {
        width: 150px; /* Reduzir tamanho da imagem */
    }

    p {
        font-size: 0.9rem;
    }

    .card {
        padding: 20px; /* Reduzir o padding em telas menores */
        max-width: 90%; /* Garantir que o card não fique muito estreito */
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column; /* Garantir que os itens fiquem empilhados */
        align-items: center;
        padding: 5px; /* Reduzir ainda mais o padding */
    }

    a.button {
        width: 100%; /* Botões ocupam toda a largura */
    }

    p {
        font-size: 0.8rem; /* Ajustar tamanho do texto */
    }

    .card {
        padding: 15px; /* Reduzir ainda mais o padding */
        max-width: 95%; /* Ajustar largura para telas muito pequenas */
    }
}