@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color:#00D9FF;
    --terceary-color: #00FFF7;
    --quaternary-color:#ebeff1;
    --font-family: 'Montserrat', sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

body {
    color: var(--quaternary-color);
    background-color: rgb(0, 0, 0);
    font-family: var(--font-family);
    background-image: url(/assets/background.jpeg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garantir que o contêiner ocupe toda a largura */
    max-width: 600px; /* Limitar largura máxima em telas grandes */
    margin: 0 auto; /* Centralizar o contêiner */
    gap: 15px;
    padding: 20px; /* Ajustar padding */
    
}

.rosto {
    max-width: 100%; /* Garantir que a imagem não ultrapasse o contêiner */
    width: 200px; /* Tamanho padrão da imagem */
    height: auto;
    display: block;
    border-radius: 50%; /* Tornar a imagem circular */
    border: 2px solid var(--terceary-color);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.rosto:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

a.button {
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(192, 189, 189, 0.24);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bolder;
    text-align: center;
    width: 100%; /* Botão ocupa toda a largura em telas menores */
    max-width: 100%; /* Limitar largura máxima */
}

a.button:hover {
    background-color: var(--terceary-color);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

p {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

h4 {
    font-weight: 400;
    color: var(--quaternary-color);
    margin-bottom: 10px;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Reduzir padding */
        gap: 10px; /* Ajustar espaçamento */
    }

    .rosto {
        width: 150px; /* Reduzir tamanho da imagem */
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column; /* Garantir que os itens fiquem empilhados */
        align-items: center;
        padding: 5px; /* Reduzir ainda mais o padding */
    }

    a.button {
        width: 100%; /* Botões ocupam toda a largura */
    }

    p {
        font-size: 0.8rem; /* Ajustar tamanho do texto */
    }
}