@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --primary-color: #000000;
    --secondary-color: #7e67e4;
    --font-family: 'Montserrat', sans-serif;   
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    .container {
        padding: 0 20px;
    }
    p {
        font-size: 0.9rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;  
}

body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: var(--font-family);
}

.container {

    transform: scale(1.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 15px;
    padding: 20%;   

}

.rosto {
    width: 100%;
    width: 300px;
    height: auto; 
    display: block;
    border-radius:500px;
    border: solid;
    border-color: var(--secondary-color);
    border-style: outset;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.rosto:hover {
    width: 100%;
    width: 320px;
    height: auto;  
    display: block;  
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 0%;
}

a.button {

    border: 3px solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bolder;
    
}

a.button:hover {

    background-color: var(--secondary-color);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);

}

p {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    max-width: 300px;
}       