::root {
    --primary-color: #000000;
    --secondary-color: #7e67e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

boddy::-webkit-scrollbar {
    display: none;
}

footer {

}

.container {

}

.rosto {

}

a.button {
    
}

